body {
    margin: 0px;
    padding: 0px;
}

/* 不需要点或者星 */
li {
    list-style-type:none;
}

/* 把所有边框设为圆形 */
.info, .button, .unread, .icon {
    border: 0px solid black;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* 设置button的位置和大小为hover的范围 */
#button {
    position: absolute;
    overflow: visible;
    bottom: 30%;
    left: 50%;
    width: 32px;
    height: 32px;
}

/* 设置为button的所在位置 */
#info-bar, #control-ring-container, .info, #control-ring {
    position: absolute;
    visibility: hidden;
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0px; 
}

/* info-bar下的相关属性，位置 */
#info-bar, .info, span {
    -webkit-transition:all 0.5s ease-in-out .4s;
	-moz-transition:all 0.5s ease-in-out .4s;
	-o-transition:all 0.5s ease-in-out .4s;
	transition:all 0.5s ease-in-out .4s;
}

span {
    opacity: 0;
}

#button:hover #info-bar {
    visibility: visible;
    
}

#button:hover .info {
    visibility: visible;
    background-color: gray;
    width: 110px;
    height: 110px;
    padding: 10px;
    
    transform: translate(-45px, -155px);
    -webkit-transition:all 0.5s ease-in-out 1.4s;
	-moz-transition:all 0.5s ease-in-out 1.4s;
	-o-transition:all 0.5s ease-in-out 1.4s;
	transition:all 0.5s ease-in-out 1.4s;
}

#button:hover span {
    opacity: 1;
    -webkit-transition:all 0.5s ease-in-out ;
	-moz-transition:all 0.5s ease-in-out ;
	-o-transition:all 0.5s ease-in-out ;
	transition:all 0.5s ease-in-out ;
}


/* 设置图标的相对位置及属性 */
.page {
    color: white;
}

.user {
    position: absolute;
    top: 10%;
    left: 30%;
    font-size: 12pt;
    
}

.comment {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 25pt;
    font-weight: bold;
    
}

.mine {
    position: absolute;
    color: #079E6E;
    font-size: 15pt;
    top: 65%;
}

.posted {
    position: absolute;
    left:15%;
}

.like {
    position: absolute;
    right:20%;
}

.info span {
    font-weight: bold;
    position: relative;
    left: 5px;
    top: -6px;
}

/* 设置control-ring的相关属性，背景图片 */
.button {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
}

.button, .mask, .history, .message, .setting, .sign {
    -webkit-transition:all 0.5s ease-in-out 0.4s;
	-moz-transition:all 0.5s ease-in-out .4s;
	-o-transition:all 0.5s ease-in-out .4s;
	transition:all 0.5s ease-in-out .4s;
}

.mask {
    background-image: url("../images/mask.png");
}

.history {
    background-image: url("../images/history.png");
}

.message {
    background-image: url("../images/message.png");
}

.unread {
    position: relative;
    left: 20px;
    top: -5px;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 2px 6px;
}

.setting {
    background-image: url("../images/setting.png");
}

.sign {
    background-image: url("../images/signin.png");
}

/* 设置hover时的属性，位置变换 */
#button:hover .button {
    visibility: visible;
    -webkit-transition:all 0.5s ease-in-out 1.4s;
	-moz-transition:all 0.5s ease-in-out 1.4s;
	-o-transition:all 0.5s ease-in-out 1.4s;
	transition:all 0.5s ease-in-out 1.4s;
}

#button:hover .mask {
    transform: translate(-65px, -35px);
}

#button:hover .history {
    transform: translate(-75px, 7px);
}

#button:hover .message {
    transform: translate(-65px, 47px);
}

#button:hover .setting {
    transform: translate(-23px, 73px);
    
}

#button:hover .sign {
    transform: translate(22px, 60px);
}

/* 设置@+图标的相关属性 */
.icon {
    background-image: url("../images/atplus_white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: rgb(154, 158, 203);

    position: absolute;
    width: 32px;
    height: 32px;

    /* 延迟0.5s，过程1s */
    -webkit-transition:all 1s ease-in-out .5s;
	-moz-transition:all 1s ease-in-out .5s;
	-o-transition:all 1s ease-in-out .5s;
	transition:all 1s ease-in-out .5s;
}

/* 换背景，调整大小 */
#button:hover .icon{
    background-image: url("../images/atplus_green.png");
    background-color: rgba(48, 63, 159, 1);

    transform: scale(2,2);
    -moz-transform: scale(2,2);
    -o-transform: scale(2,2);
    -webkit-transform: scale(2,2);
}


